
html body{
    height: 100% !important;
    margin: 0 !important;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
}

.jumbotron{
    height: 95vh !important;
    margin: 0px auto;
    background: #1982ff;
    color: floralwhite;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

address{
    font-size: 80%;
    margin: 0px;
    color: rgb(238, 238, 238);
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #1982ff;
     background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.modal{
    color:black;
}

#carouselButton{
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.row-options{
    cursor: pointer;
    height: 300px;
    width: 300px;
    border-radius: 3% 3% 3% 3%;
}

.row-options > div > h3{
    margin-top: 50%;
}

.grad-bg-1{
    background-image: linear-gradient(to right, #000000, #161616, #242424, #333333, #434343);
    
}

.grad-bg-2{
    background-image: linear-gradient(to right bottom, #200122, #360025, #4e0022, #610017, #6f0000);
}

.grad-bg-3{
    background-image: linear-gradient(to right, #141e30, #182539, #1c2c42, #20334b, #243b55);
}

.grad-bg-4{
    background-image: linear-gradient(to right, #8e0e00, #6d2200, #4f2500, #35220b, #1f1c18);
}

.grad-bg-5{
    background-image: linear-gradient(to right, #0f2027, #12252c, #152931, #192e37, #1c333c, #1e3741, #213c46, #23404b, #254551, #274957, #2a4e5e, #2c5364);
}

.grad-bg-6{
    background-image: linear-gradient(to right, #190a05, #331005, #4e1105, #6a0d03, #870000);
}

a{
    color: white;
}
a:hover{
    color: rgb(187, 181, 181);
}

.quotes-box{
    background-color: #631d08;
    background-image: linear-gradient(to right bottom, #200122, #360025, #4e0022, #610017, #6f0000);
    margin: 5px 0 5px 0;
    padding: 15px;
    width: 100%;
}

.quote-container{

}

.quote-det{
    font-size: 15px;    
}

.books-box{
    background-color: #1982ff;
    background-image: linear-gradient(to left, #a73737, #9c3333, #902f2f, #852c2c, #7a2828);
    margin: 5px 0 5px 0;
    padding: 15px;
    width: 100%;
    font-size: 25px !important;
}